<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
    <h2 class="form-signin-heading">
        Please sign in
    </h2>

    <div *ngIf="invalidLogin" class="alert alert-danger">
        Invalid Username and/or password.
    </div>
    
    <div class="form-group">
        <label for="inputEmail" class="sr-only">Email Address</label>
        <input type="email" id="inputEmail" name="email" ngModel class="form-control">
    </div>

    <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" ngModel>
    </div>

    <button class="btn btn-primary btn-block btn-lg" type="submit">Sign in</button>
</form>