<h3>Home page</h3> 
<p>Welcome [name]</p>
<ul>
    <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Login</a><br/></li>
    <li *ngIf="auth.isLoggedIn()"><a routerLink="/admin">Admin</a><br/></li>
    <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()" style="color:rgb(50, 53, 226);cursor:pointer;">Logout</a></li>
</ul>
  